<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <style>
    #preloader {
            background: #ffffff url(/public/images/c1bcd8a8c945b53da6b29f10a2a553c0.gif) no-repeat center center;
            background-size: 30%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
  </style>
</head>

<body style="background-color: #817d52;">
  <div id="preloader"></div>
  <div>
    <div class="container">
      <h2 class="col-12 mt-4" style="color: #ffffff;">Fine Bonito</h2>

    </div>
    <section>
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col col-xl-10" style="height: 24.1rem;">
              <div class="card" style="border-radius: 1rem; height: 100%;">
                <div class="row g-0">
                  <div class=" imageman col-md-6 col-lg-5 d-none d-md-block">
                    <img src="/public/images/Skate ShAAoes for Men & Men's Sneakers Tillys.jpeg" alt="login form"
                      class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 24rem;">

                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center ">
                    <div class="card-body p-0 p-lg-5 text-black ">

                      <form class="form1 ps-5 pe-5 justify-content-center align-items-center" method="post"
                        action="/verifyloginOtp">

                        <div class="d-flex justify-content-center align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h4  mb-0">Verify your OTP </span>
                        </div>

                        <div class="input form-outline mb-4 justify-content-center">
                          <input type="email" value="{{user1.email}}" name="email" hidden>
                          <div class="d-flex">
                            <input type="text" id="form2Example17" class="form-control form-control-lg ps-2"
                              name="token" required="">
                            <div class="mt-2 ms-1" id="otp-timer"></div>
                          </div>
                          <label class="form-label " for="form2Example17">OTP</label>
                        </div>

                        <p style="color: darkred;">{{message}}</p>
                        <div class="pt-1 mb-4 ">
                          <button class="btn btn-dark btn-lg btn-block" type="submit">verify</button>
                        </div>

                      </form>
                      <form action="/resendpasswordotp" method="post">
                        <input type="text" name="email" id="" value="{{email}}" hidden>
                        <a href="" style="float: right; text-decoration: none;" class="me-5"><button type="submit"
                            class="btn btn me-5" style="margin-top: -130px;">resend</button></a>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script>
    const otpExpirationTime = new Date('{{user1.otpExpiration}}').getTime();
    const otpTimerElement = document.getElementById('otp-timer')

    function updateOTPTimer() {
      const currentTime = new Date().getTime();
      const remainingTime = Math.max(0, otpExpirationTime - currentTime);
      const seconds = Math.floor((remainingTime / 1000) % 60);
      const minutes = Math.floor((remainingTime / 1000 / 60) % 60);
      otpTimerElement.textContent = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

      if (remainingTime > 0) {
        setTimeout(updateOTPTimer, 1000);
      } else {
        // OTP has expired
      }
    }

    updateOTPTimer();
  </script>
  <script>
    var loader = document.getElementById("preloader")
    window.addEventListener('load', function () {
      loader.style.display = "none"
    })
  </script>
</body>

</html>